<!DOCTYPE html>
<html lang="en" ng-app="LunchCheck">
<head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script type="text/javascript" src="../angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <style>
        .message { font-size: 1.3em; font-weight: bold; }
    </style>
</head>
<body>
<div class="container" ng-controller="LunchCheckController">
    <h1>Lunch Checker</h1>
    <p>This checker lets the user know if he/she eats too many dishes (≥4) for lunch.</p>
    <div class="form-group" ng-class="{'has-error': blankDishInput == 1}">
        <input id="lunch-menu" type="text"
               ng-model="dishes"
               placeholder="list comma separated dishes you usually have for lunch"
               class="form-control">
        <small>NOTE: Blank values will not be counted (blank input or inputs with ", ,").</small>
    </div>
    <div class="form-group">
        <button class="btn btn-default" ng-click="checkDishes()">Check If Too Much</button>
    </div>
    <div class="form-group message">
        {{dishesCountMessage}}
    </div>
</div>

</body>
</html>