<div style="margin-top: 10%">
    <table class="table table-striped" ng-if="narrowed.items.length > 0">
        <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="choice in narrowed.items">
                <td>{{ choice.short_name }}</td>
                <td>{{ choice.name }}</td>
                <td>{{ choice.description }}</td>
                <td><button type="button" class="btn btn-danger" ng-click="narrowed.onRemove({index: $index});">Don't want this one!</button></td>
            </tr>
        </tbody>
    </table>
</div>
